CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.png
*.PNG
*.jpg

/.vs
/bin/Debug
/out/build/x64-release
/SoloEngine/vendor/
/SoloEngine/vendor/assimp-build
/SoloEngine/vendor/assimp-subbuild
/SoloEngine/vendor/box2d-build
/SoloEngine/vendor/box2d-subbuild
/SoloEngine/vendor/entt-build
/SoloEngine/vendor/entt-subbuild
/SoloEngine/vendor/filewatch-subbuild
/SoloEngine/vendor/freetype-build
/SoloEngine/vendor/freetype-subbuild
/SoloEngine/vendor/glad-build
/SoloEngine/vendor/glad-subbuild
/SoloEngine/vendor/glfw-build/src
/SoloEngine/vendor/miniaudio-subbuild
/SoloEngine/vendor/miniaudio-build/include/miniaudio
/SoloEngine/vendor/lua-subbuild
/SoloEngine/vendor/lua-build/Debug
/SoloEngine/vendor/libpng-subbuild
/SoloEngine/vendor/libpng-build
/SoloEngine/vendor/imguizmo-subbuild
/SoloEngine/vendor/imguizmo-build/Debug
/SoloEngine/vendor/imgui-subbuild
/SoloEngine/vendor/imgui-build/Debug
/SoloEngine/vendor/googletest-subbuild
/SoloEngine/vendor/googletest-build/googletest/generated
/SoloEngine/vendor/glm-subbuild
/SoloEngine/vendor/glfw-subbuild
/SoloEngine/vendor/zlib-subbuild
/SoloEngine/vendor/zlib-build
/SoloEngine/vendor/yaml-cpp-subbuild
/SoloEngine/vendor/yaml-cpp-build
/SoloEngine/vendor/tracy-subbuild
/SoloEngine/vendor/tracy-build
/SoloEngine/vendor/tinyxml2-subbuild
/SoloEngine/vendor/tinyxml2-build
/SoloEngine/vendor/stb_image-subbuild
/SoloEngine/vendor/stb_image-build/include/stb_image
/SoloEngine/vendor/spdlog-subbuild
/SoloEngine/vendor/spdlog-build/Debug
/SoloEngine/vendor/msdfgen-subbuild
/SoloEngine/vendor/msdfgen-build/Debug
/SoloEngine/vendor/msdf-atlas-gen-subbuild
/SoloEngine/vendor/msdf-atlas-gen-build/Debug
/out/build
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/docs/html
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-mingw
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-mingw-w64
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-static-ucrt
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2010
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2012/glfw3.dll
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2012
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2013
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2015
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2017
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2019/glfw3.dll
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2019
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2022/glfw3.dll
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN32/lib-vc2022/glfw3_mt.lib
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/docs/html
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-mingw-w64
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-static-ucrt
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2019
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2017
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2015
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2013
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2012
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2022/glfw3_mt.lib
/SoloEngine/vendor/glfw/glfw-3.3.6.bin.WIN64/lib-vc2022/glfw3.dll
/SoloEngine/vendor/glew-2.1.0/bin/Release/Win32
/SoloEngine/vendor/glew-2.1.0/bin/Release/x64/glewinfo.exe
/SoloEngine/vendor/glew-2.1.0/bin/Release/x64/visualinfo.exe
/SoloEngine/vendor/glew-2.1.0/doc
/bin/Release
/referencePapers
/SoloEditor/res/.idea
